name: nwchem_docker_gpu

on:
  repository_dispatch:
    types: [backend_automation]
  workflow_dispatch:

jobs:
  changes:
    if: |
      !contains(github.event.head_commit.message, 'ci skip')
    runs-on: ubuntu-latest
    outputs:
      # Expose matched filters as job 'folders' output variable
      folders: ${{ steps.filter.outputs.changes }}
    steps:
    - uses: actions/checkout@v2
    - name: choose_dockerfile_filter
      uses: dorny/paths-filter@v2
      id: filter
      with:
        base: ${{ github.ref }}
        filters: |
          nwchem-dev.gpu: 'nwchem-dev.gpu/*'
    - name: cleanup_nochange
      if: steps.filter.outputs.changes == '[]'
      run: echo "no change detected"
  docker_schedule:
    needs: [changes]
    strategy:
        fail-fast: true
        matrix:
          folder:
            - nwchem-dev.gpu
          archs: [linux/amd64]
    runs-on: ubuntu-18.04
    timeout-minutes: 420
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to GitHub Container Registry
        if: ${{ github.actor == github.repository_owner }}
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: build_schedule
        uses: docker/build-push-action@v2
        with:
          push: ${{ github.actor == github.repository_owner }}
          context: ${{ matrix.folder }}
          platforms: ${{ matrix.archs }}
          tags: ghcr.io/${{ github.actor }}/${{ matrix.folder }}:latest
      - name: load and test image
        if:  ( github.actor == github.repository_owner )
        run: |
          docker pull ghcr.io/${{ github.actor }}/${{ matrix.folder }}
          cd /tmp
          umask u=rwx,g=rwx,o=rwx
          umask -S
          svn export https://github.com/nwchemgit/nwchem/trunk/QA >& svnout.log
          cd QA
          docker run --rm  \
          -e NWCHEM_EXECUTABLE=/opt/nwchem/bin/nwchem --entrypoint='/opt/nwchem/QA/runtests.mpi.unix' \
          -v `pwd`:/opt/nwchem/QA ghcr.io/${{ github.actor }}/${{ matrix.folder }} \
          procs 2 h2o_opt prop_mep_gcube 
